{% extends "layout-admin.njk" %}

{% block content %}

<div class="container">
  <form class="chef form" action="/admin/chefs" method="post" enctype="multipart/form-data">

    <div class="container-title">
      <h1>Criando chef</h1>
      <button class="button" type="submit">Salvar chef</button>
    </div>

    <div class="fields create-chef">
      <div class="item">
        <div>Nome</div>
        <div class="input">
          <input type="text" name="name" value="{{ user.name }}">
        </div>
      </div>

      <div class="item">
        <div>Avatar</div>
        <div class="img-recipes">
          <div id="photos-upload">
            <input
              id="photos-input"
              type="file"
              name="photos"
              accept="image/*"
              onchange="PhotosUpload.handleFileChefInput(event)"
            >

            <p class="button">Enviar Avatar</p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<script src="/teste.js"></script>

{% endblock %}