{% extends "layout-admin.njk" %}

{% block content %}

<div class="container">
  <div class="container-title">
    <h1>Usuários</h1>
    <a class="button" href="/admin/register">Novo usuário</a>
  </div>

  <div class="container-users">
    {% for user in users %}
    <div class="user">
      <h1>{{ user.name }}</h1>
      <p>{{ user.email }}</p>

      <div class="user-buttons">
        <a href="/admin/users/{{ user.id }}">Editar</a>
        {% if logged %}
        <form class="delete-user form" action="/admin/users?_method=DELETE" method="post">
          <input type="hidden" name="id" value="{{ user.id }}">
          <button class="remove" type="submit">Remover</button>
        </form>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

  <script>
    const formDelete = document.querySelector('.delete-user.form');
    formDelete.addEventListener('submit', function(event) {
      const confirmation = confirm('Tem certeza que deseja excluir esta conta? Essa ação não poderá ser desfeita.')

      if (!confirmation) {
        event.preventDefault();
      }
    })
  </script>
</div>

{% endblock %}