.container-recipes {
  margin: 24px auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 21px;
}

.container-recipes .recipe {
  display: grid;
  grid-template-columns: 170px 1fr;
}

.container-recipes .recipe img {
  width: 100%;
  border-radius: 5px;
  height: 80px;
  object-fit: cover;
  box-shadow: 2px 5px 9px -2px #666;
}

.recipe-description {
  margin-left: 8px;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-description p {
  font-size: 14px;
  color: #666;
}

.recipe-description a {
  font-size: 14px;
  font-weight: 400;
  color: purple;
}


.description {
  margin: 4px auto;
  width: 100%;
}

.description strong {
  font-size: 24px;
  padding: 25px auto;
}

.description ul {
  margin: 12px auto;
  width: 100%;

}

.description li {
  padding: 6px 0;
  list-style: outside;
  color: #393d3f;
}

.description #plus p {
  color: #393d3f;
  font-size: 16px;
  padding: 12px 0;
  line-height: 28px;
  text-align: justify;

  margin-bottom: 120px;
}

.description.ingredients {
  margin-top: 32px;
}

.header-recipe {
  display: flex;
  justify-content: space-between;
}

