<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
      <title>Foodfy | Admin</title>
    {% endblock %}

    {% include "parts/styles.njk" %}
  </head>
  <body>
    {% include "parts/messages.njk" %}

    {% include "parts/header-admin.njk" %}

    {% block content %}
    {% endblock  %}
  </body>
</html>
