<header class="header-admin">
  <img src="/assets/Foodfy.png" alt="Logomarca">
  <a href="/admin/recipes">Receitas</a>
  <a href="/admin/chefs">Chefs</a>
  <a href="/admin/users">Usuários</a>
  <a href="/admin/profile">Minha conta</a>
  <a href="/">Foodfy</a>

  <form class="form-exit" action="/admin/logout" method="POST">
    <button class="button exit">SAIR</button>
  </form>
</header>