<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="/styles/global.css">

<link rel="stylesheet" href="/styles/client-index.styles.css">
<link rel="stylesheet" href="/styles/client-about.styles.css">
<link rel="stylesheet" href="/styles/client-recipes.styles.css">
<link rel="stylesheet" href="/styles/client-recipe.styles.css">
<link rel="stylesheet" href="/styles/client-chefs.styles.css">

<link rel="stylesheet" href="/styles/admin-chefs-styles.css">
<link rel="stylesheet" href="/styles/admin-users-index-styles.css">
<link rel="stylesheet" href="/styles/admin-recipes-index-styles.css">

<link rel="stylesheet" href="/styles/session-login.styles.css">

<link rel="stylesheet" href="/styles/messages.css">